header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 20px;
}

img {
  height: 20px;
  width: 20px;
}

.logo,
.avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

input {
  width: 300px;
  height: 30px;
}

@media (max-width: 600px) {
  header {
    display: flex;
    margin: 0 10px;
    align-items: center;
  }

  .logo p,
  .avatar p {
    display: none; /* Hide the <p> elements inside .logo and .avatar */
  }

  .logo,
  .avatar {
    margin-top: 10px; /* Add some space between the logo and avatar */
    gap: 5px; /* Adjust gap as needed for mobile layout */
  }

  input {
    width: 100%; /* Make the input full width */
    max-width: 250px; /* Set a maximum width if needed */
    margin-top: 10px;
  }
}
